@model IEnumerable<ClinicaCesfam2023.Models.registro_retiro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha_reg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.med_receta.retiro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario.tipo_usuario_tipo_user)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_reg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.med_receta.retiro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.tipo_usuario_tipo_user)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_reg }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_reg }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_reg })
        </td>
    </tr>
}

</table>
