@model ClinicaCesfam2023.Models.paciente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>paciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ap_paterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ap_paterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.num_telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.num_telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.rut_pac }) |
    @Html.ActionLink("Back to List", "Index")
</p>
