@model ClinicaCesfam2023.Models.medicamento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>medicamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_venc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_venc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fabricante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fabricante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_med }) |
    @Html.ActionLink("Back to List", "Index")
</p>
