@model IEnumerable<ClinicaCesfam2023.Models.receta_med>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_emi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paciente.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario.tipo_usuario_tipo_user)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_emi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paciente.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario.tipo_usuario_tipo_user)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_receta }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_receta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_receta })
        </td>
    </tr>
}

</table>
